body {
  margin: 0;
  font-family: Wendy One;
  height: calc(var(--vh, 1vh) * 100);
}

h1 {
  margin: 0;
  padding-top: 100px;
  color: white;
  font-size: 130px;
  text-align: center;
  font-weight: 100;
}

h2 {
  color: white;
  font-size: 40px;
  font-weight: 100;
}

.background {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background-image: radial-gradient(#00a3ff, #0064ad);
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
}

.add-name {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.paper {
  background-image: url(img/Paper\ v0.png);
  width: 235px;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 20px 0 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  z-index: 2;

  transition: 100ms;
}

.paper input {
  font-family: Wendy One;
  border: none;
  background-color: transparent;
  transform: rotate(-5deg);
  font-size: 20px;
  width: 130px;
  height: 80px;
}

.paper input:focus {
  outline: none;
}

.paper:focus-within {
  transform: scale(1.1);

  transition: transform 100ms;
}

.to-bag {
  animation: to-bag 2s ease-in-out forwards;
}

@keyframes to-bag {
  15% {
    transform: translateY(-50px);
  }

  40% {
    transform: scale(0.7) translateY(-50px) rotate(70deg);
  }

  83% {
    opacity: 1;
    transform: scale(0.7) translateY(50vh) rotate(90deg) translateX(50vw);
  }

  84% {
    opacity: 0;
    transform: translateY(70vh);
  }

  85% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.nope {
  animation: nope 0.5s forwards;
}

@keyframes nope {
  33% {
    transform: rotate(-5deg);
  }

  66% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.add-button {
  height: 75px;
  width: 75px;
  border-radius: 10px;
  border: none;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  transition: 100ms ease-in;
}

.add-button:hover {
  cursor: pointer;
  transform: scale(1.1);

  transition: 100ms ease-in;
}

.add-button img {
  height: 30px;
  width: 30px;
}

.bag {
  position: absolute;
  top: 100%;
  left: 50%;

  transition: 100ms ease-in;
}

.bag-div:hover .bag {
  transform: rotate(5deg);
  cursor: pointer;

  transition: 100ms ease-in;
}

.bag-div:hover .proceed-text {
  opacity: 1;
  z-index: 0;
  cursor: pointer;
  z-index: 4;

  transition: 500ms ease-in-out;
}

.proceed-text {
  position: absolute;
  left: 50%;
  z-index: 5;
  font-size: 50px;
  color: #0064ad;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 4;
  opacity: 0;
  pointer-events: none;

  transition: 500ms ease-in-out;
}

.bag img {
  position: absolute;
  transform: translate(-50%, -80%);
  width: 325px;
}

.bag .front {
  z-index: 3;
}

.bag .back {
  z-index: 1;
}

.overlay {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  opacity: 0;

  transition: opacity 1s;
}

.result {
  transform: scale(0);

  transition: 500ms ease-in-out;
}

.winner {
  font-family: Wendy One;

  text-align: left;

  transform: rotate(-5deg);
  font-size: 20px;
  width: 130px;
  margin-top: 30px;
}

.add-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 300ms ease-in-out;
}

.sorting-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: scale(0);
  display: none;

  transition: transform 300ms ease-in-out;
}

.sorting {
  animation: sorting 2s infinite;
}

@keyframes sorting {
  100% {
    transform: rotate(360deg);
  }
}

.scale-0 {
  transform: scale(0);

  transition: transform 300ms ease-in-out;
}

.translate-down {
  animation: translate-down 2s forwards 300ms;
}

@keyframes translate-down {
  30% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(500px);
  }
}

@media (max-width: 800px) {
  h1 {
    padding-top: 70px;
    font-size: 90px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  h1 {
    padding-top: 70px;
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
  }

  .bag img {
    width: 280px;
  }
}
